@import '../../../../src/theme.scss';

.controls {
  margin: 12px;
}

.sessions {
  width: 640px;
  overflow-y: scroll;
  height: calc(100vh - 130px);
  padding: 10px 12px 0 12px;
  border-left: solid 1px var(--primary-color);
  border-right: solid 1px var(--primary-color);
}

.session {
  border-bottom: dotted 2px var(--primary-color);
  margin-bottom: 20px;
}

.content {
  border-radius: 25px;
  padding: 15px;
  background-color: $light-bg-lighter-5;
  margin: 0 5px 0 5px;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.time {
  font-size: smaller;
  margin-bottom: 20px;
}
