.controls {
  margin: 12px;
  max-width: 400px;
}

.sessions {
  width: 640px;
  overflow-y: scroll;
  height: calc(100vh - 130px);
  padding: 10px 12px 0 12px;
  background-color: var(--bg-lighter-5);
}

.session {
  border-bottom: dotted 1px var(--primary-color);
  margin-bottom: 20px;
}

.content {
  border-radius: 25px;
  padding: 15px;
  background-color: var(--background);
  margin: 0 5px 0 5px;
  white-space: pre-line;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.time {
  font-size: smaller;
  margin-bottom: 20px;
}
