<div fxLayout="row wrap" fxLayoutGap="10px">
  <div fxLayout="column" fxLayoutGap="10px" class="controls">
    <mat-form-field appearance="fill">
      <mat-label>Sender type</mat-label>
      <mat-select [(value)]="senderTypes" multiple>
        <mat-option *ngFor="let senderType of ['Member', 'Coach', 'System']" [value]="senderType">{{senderType}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="sessions" #sessionsView>
    <div *ngFor="let session of sessions" class="session" #messages>
      <div *ngFor="let message of session" fxLayout="column" class="{{message.side}}">
        <ng-container *ngIf="senderTypes.includes(message.senderType ? message.senderType : '')"
                      [ngSwitch]="message.side">
          <div fxLayout="row" *ngSwitchCase="'left'" fxLayoutAlign="start center">
            <button mat-mini-fab disabled *ngIf="isMember"><mat-icon>person</mat-icon></button>
            <button mat-mini-fab disabled *ngIf="!isMember && !message.tags.includes('routing')">
              <mat-icon>smart_toy</mat-icon>
            </button>
            <button mat-mini-fab *ngIf="!isMember && message.tags.includes('routing')" color="accent">
              <mat-icon>person</mat-icon>
            </button>
            <span class="content">{{message.content}}</span>
          </div>
          <div fxLayout="row" *ngSwitchCase="'right'" fxLayoutAlign="end center">
            <span class="content">{{message.content}}</span>
            <button mat-mini-fab *ngIf="isMember && message.tags.includes('routing')">
              <mat-icon>support_agent</mat-icon>
            </button>
            <button mat-mini-fab *ngIf="isMember && !message.tags.includes('routing')" disabled>
              <mat-icon>smart_toy</mat-icon>
            </button>
            <button mat-mini-fab *ngIf="!isMember"><mat-icon>support_agent</mat-icon></button>
          </div>
          <span class="time">{{message.time | date: 'MMM d, h:mm a'}}</span>
        </ng-container>
      </div>
    </div>
  </div>
</div>
