<div class="chat-container">
  <div class="refresh-container" (click)="refreshChat()" matTooltip="Click to refresh.">
    <mat-icon aria-label="Refresh" class="refresh-icon">refresh</mat-icon>
  </div>
  <div class="wrapper">
    <div #content class="inner">
      <div class="content">
        <div *ngIf="isLoading" fxLayout="row" fxLayoutAlign="center  center">
          <mat-spinner [diameter]="30"></mat-spinner>
        </div>
        <div>
          <div *ngIf="!isLoading && enableLoadMore" fxLayoutAlign="center center">
            <button mat-button (click)="loadData(true)">Load more</button>
          </div>
          <div *ngFor="let day of messagesByDate | keyvalue">
            <div fxLayoutAlign="center center">
              <span class="date-stamp">{{day.key}}</span>
            </div>
            <div #messages *ngFor="let message of day.value"
                 class="message-wrapper {{message.status === 'received' ? 'them' : 'me'}}">
              <div class="circle-wrapper" fxLayoutAlign="center center" *ngIf="person && person.name"
                   [matTooltip]="(message.status === 'received' ? person.name.first : message.sender.value)">
                {{(message.status === 'received' ? person.name.first : message.sender.value).slice(0, 4)}}
              </div>
              <div class="text-wrapper">
                <span class="message-text">{{message.content}}</span>
                <br>
                <span class="time">
                  {{message.time | date: 'medium'}}
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="bottom" fxLayoutAlign="start center">
      <textarea matInput class="input" [(ngModel)]="newMessage" fxFlex placeholder="Type a message"></textarea>
      <button mat-mini-fab color="primary" class="send" [disabled]="!newMessage || isLoading || isSendingMsg"
              aria-label="Send message" (click)="send()">
        <mat-icon>send</mat-icon>
      </button>
    </div>
  </div>
</div>
