.chat-container {
  height: calc(100vh - 60px - 48px - 24px - 32px - 60px);
  width: calc(100% - 20px);
  padding-top: 0;
}

.wrapper {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: white;
  position: relative;
  box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.5);
}

.wrapper .inner {
  overflow-y: auto;
  height: calc(100% - 140px);
  background: #f2f2f2;
}

.wrapper .inner .content {
  padding: 10px;
  position: relative;
  margin-bottom: 32px;
}

.bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 140px;
  background: #ffffff;
  box-shadow: 0px -3px 3px 0px rgba(50, 50, 50, 0.1);
  padding: 10px;
}

.bottom .input {
  height: 100%;
  background: #ffffff;
  border: none;
  resize: none;
  overflow: scroll;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}

.bottom .input:focus {
  outline: none;
}

.bottom .input::-webkit-scrollbar {
  width: 0 !important;
}

.message-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin: 10px 0;
  padding: 10px 0;
}

.message-wrapper .circle-wrapper {
  height: 42px;
  width: 42px;
  border-radius: 50%;
}

.message-wrapper .text-wrapper {
  padding: 10px;
  min-height: 42px;
  width: 60%;
  margin: 0 10px;
  box-shadow: 0px 1px 0px 0px rgba(50, 50, 50, 0.3);
  border-radius: 2px;
  position: relative;
}

.message-wrapper .text-wrapper .message-text {
  white-space: pre-wrap;
  word-break: break-word;
}

.message-wrapper .text-wrapper:before {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
}

.message-wrapper.them .circle-wrapper, .message-wrapper.them .text-wrapper {
  background: #059CE5;
  float: left;
  color: #ffffff;
}

.message-wrapper.them .text-wrapper:before {
  border-width: 0 10px 10px 0;
  border-color: transparent #059CE5 transparent transparent;
  position: absolute;
  top: 0;
  left: -9px;
}

.message-wrapper.me .circle-wrapper, .message-wrapper.me .text-wrapper {
  background: #B3E6FC;
  float: right;
  color: #333333;
}

.message-wrapper.me .text-wrapper {
  background: #ffffff;
}

.message-wrapper .time {
  float: right;
  font-size: 12px;
  opacity: 0.7;
}

.message-wrapper.me .text-wrapper:before {
  border-width: 10px 10px 0 0;
  border-color: #ffffff transparent transparent transparent;
  position: absolute;
  top: 0;
  right: -9px;
}

.refresh-container {
  position: absolute;
  height: 48px;
  width: 40px;
  top: -33px;
  right: 25px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #e0e0e0;
  color: rgba(0, 0, 0, .54);
  z-index: 2;
  cursor: pointer;
  transition: all .1s ease;
}

.refresh-icon {
  padding-top: 16px;
  padding-left: 8px;
}

.refresh-container:hover {
  background-color: #0277bd;
  color: white !important;
  transform: translateY(8px);
}

.refresh-container:hover .refresh-icon {
  color: white !important;
}

.refresh-container:active {
  background-color: #00589b;
}

.date-stamp {
  background-color: #80D8FF;
  border-radius: 5px;
  padding: 5px;
  margin-top: 10px;
}
