<div fxLayout="row" fxLayoutGap="12px" *ngIf="group && isMainPage" class="header">
  <h1>{{group.title}}</h1>
  <button mat-icon-button (click)="edit()" color="primary" matTooltip="Edit"><mat-icon>edit</mat-icon></button>
</div>

<mat-tab-group>
  <mat-tab label="Members">
    
    <table mat-table [dataSource]="memberDataSource">
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element">
          <a mat-flat-button [routerLink]="['/person', element.member.id.value]">
            <mat-icon>person</mat-icon><span style="padding: 0 0 0 10px">{{element.member | name}}</span>
          </a>
        </td>
      </ng-container>

      <!-- Summary Column -->
      <ng-container matColumnDef="summary">
        <th mat-header-cell *matHeaderCellDef> Summary </th>
        <td mat-cell *matCellDef="let element">
          <mat-chip-list>
            <mat-chip *ngFor="let tag of element.member.tags">{{tag}}</mat-chip>
          </mat-chip-list>
        </td>
      </ng-container>

      <!-- Coach Column -->
      <ng-container matColumnDef="coach">
        <th mat-header-cell *matHeaderCellDef> Coach </th>
        <td mat-cell *matCellDef="let element">
          {{memberCoaches.get(element.member.id.value) | name}}
        </td>
      </ng-container>

      <!-- Menu Column -->
      <ng-container matColumnDef="menu">
        <th mat-header-cell *matHeaderCellDef>
          <button mat-icon-button (click)="add('member')" color="accent"><mat-icon>person_add</mat-icon></button>
        </th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button [matMenuTriggerFor]="menu"><mat-icon>more_vert</mat-icon></button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="addParent(element.member.id, 'coach', 'member')">
              <mat-icon>support_agent</mat-icon><span>Add coach</span>
            </button>
            <button mat-menu-item (click)="addParent(element.member.id, 'group', 'member')">
              <mat-icon>store</mat-icon><span>Add to group</span>
            </button>
            <button mat-menu-item (click)="remove(element.member.id, 'member')">
              <mat-icon>delete</mat-icon><span>Remove member from group</span>
            </button>
          </mat-menu>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="memberColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: memberColumns;"></tr>
    </table>

  </mat-tab>

  <mat-tab label="Admins">

    <table mat-table [dataSource]="adminDataSource">
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element">
          <a mat-flat-button [routerLink]="['/admin', element.admin.id.value]">
            <mat-icon>support_agent</mat-icon><span style="padding: 0 0 0 10px">{{element.admin | name}}</span>
          </a>
        </td>
      </ng-container>

      <!-- Summary Column -->
      <ng-container matColumnDef="summary">
        <th mat-header-cell *matHeaderCellDef> Summary </th>
        <td mat-cell *matCellDef="let element">
          <mat-chip-list>
            <mat-chip *ngFor="let tag of element.admin.tags">{{tag}}</mat-chip>
          </mat-chip-list>
        </td>
      </ng-container>

      <!-- Menu Column -->
      <ng-container matColumnDef="menu">
        <th mat-header-cell *matHeaderCellDef>
          <button mat-icon-button (click)="add('admin')" color="accent"><mat-icon>add_moderator</mat-icon></button>
        </th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button [matMenuTriggerFor]="menu"><mat-icon>more_vert</mat-icon></button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="addParent(element.admin.id, 'group', 'admin')">
              <mat-icon>store</mat-icon><span>Add admin to group</span>
            </button>
            <button mat-menu-item (click)="remove(element.admin.id, 'admin')">
              <mat-icon>delete</mat-icon><span>Remove admin from group</span>
            </button>
          </mat-menu>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="adminColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: adminColumns;"></tr>
    </table>

  </mat-tab>
</mat-tab-group>
