.header {
  margin-left: 60px;
}

.mat-column-name {
  width: 200px;
  padding: 8px;
}

.mat-column-summary {
  padding: 8px;
}

.mat-column-menu {
  padding: 8px;
  width: 50px;
  color: var(--primary-color)
}

.mat-chip {
  font-size: smaller;
  font-weight: normal;
}

h1 {
  padding-top: 5px;
}
