.scroll-container {
  overflow-y: scroll;
  height: calc(100vh - 120px);
}

.header {
  margin-left: 60px;
}

.mat-column-name {
  width: 200px;
  padding: 8px;
}

.mat-column-summary {
  padding: 8px;
}

.mat-column-coach {
  width: 200px;
  padding: 8px;
}

.mat-column-menu {
  padding: 8px;
  max-width: 20px;
  color: var(--primary-color)
}

.mat-chip {
  font-size: smaller;
  font-weight: normal;
}

h1 {
  padding-top: 5px;
}

.coach {
  color: var(--text-primary-color);
  text-decoration: none;
}
