<mat-tab-group #tabs>
  <mat-tab label="Login">
    <div fxLayout="column" fxLayoutGap="12px" style="padding: 20px 0 20px 0">
      <mat-form-field>
        <input matInput placeholder="Phone number" type="tel" [(ngModel)]="identifier" [ngModelOptions]="{standalone: true}">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Password" type="password" [(ngModel)]="password"
               [ngModelOptions]="{standalone: true}">
      </mat-form-field>
      <div fxLayout="row" fxLayoutGap="12px">
        <button mat-raised-button type="submit" (click)="login()" color="primary" disabled="{{isInProcess}}">
          <span>Login</span>
        </button>
        <button mat-stroked-button (click)="recover()" disabled="{{isInProcess}}">
          <span>Forgot password</span>
        </button>
        <mat-spinner *ngIf="isInProcess" class="login-spinner" [diameter]="20"></mat-spinner>
        <div class="error" *ngIf="errorMessage">
          {{errorMessage}}
          <button mat-icon-button (click)="errorMessage = ''"><mat-icon>cancel</mat-icon></button>
        </div>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Signup">
    <div fxLayout="column" fxLayoutGap="16px" style="padding: 20px 0 20px 0">
      <mat-form-field>
        <input matInput placeholder="Phone number" type="tel" [(ngModel)]="identifier" [ngModelOptions]="{standalone: true}">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Password" type="password" [(ngModel)]="password"
               [ngModelOptions]="{standalone: true}">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Confirm Password" type="password" [(ngModel)]="confirmPassword"
               [ngModelOptions]="{standalone: true}">
      </mat-form-field>
      <div fxLayout="row" fxLayoutGap="12px">
        <button mat-raised-button type="submit" (click)="signup()" color="primary" disabled="{{isInProcess}}">
          <span>Signup</span>
        </button>
        <mat-spinner *ngIf="isInProcess" class="login-spinner" [diameter]="20"></mat-spinner>
        <div class="error" *ngIf="errorMessage">
          {{errorMessage}}
          <button mat-icon-button (click)="errorMessage = ''"><mat-icon>cancel</mat-icon></button>
        </div>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Verify">
  <div fxLayout="column" fxLayoutGap="12px" style="padding: 20px 0 20px 0">
    <mat-form-field>
      <input matInput placeholder="Code" [(ngModel)]="code" [ngModelOptions]="{standalone: true}" type="number">
    </mat-form-field>
    <mat-form-field *ngIf="isRecovery">
      <input matInput placeholder="Password" type="password" [(ngModel)]="password"
             [ngModelOptions]="{standalone: true}">
    </mat-form-field>
    <mat-form-field *ngIf="isRecovery">
      <input matInput placeholder="Confirm Password" type="password" [(ngModel)]="confirmPassword"
             [ngModelOptions]="{standalone: true}">
    </mat-form-field>
    <div fxLayout="row" fxLayoutGap="12px">
      <button mat-raised-button type="submit" (click)="verify()" color="primary" disabled="{{isInProcess}}">
        <span>Login</span>
      </button>
      <mat-spinner *ngIf="isInProcess" class="login-spinner" [diameter]="20"></mat-spinner>
      <div class="error" *ngIf="errorMessage">
        {{errorMessage}}
        <button mat-icon-button (click)="errorMessage = ''"><mat-icon>cancel</mat-icon></button>
      </div>
    </div>
  </div>
  </mat-tab>
</mat-tab-group>
