.container {
  overflow-y: scroll;
  height: calc(100vh - 120px);
}

table {
  width: 100%;
}

.mat-column-id {
  width: 50px;
}

.mat-column-priority {
  width: 50px;
}

.mat-column-category {
  width: 100px;
}

.mat-column-open {
  width: 150px;
}

.mat-column-close {
  width: 150px;
}

.mat-column-title {
  padding: 8px;
}

.mat-column-menu {
  padding-left: 12px;
  width: 80px;
}
