<div fxLayout="column" fxLayoutGap="12px" style="padding: 20px 0 20px 0">
  <mat-form-field>
    <input matInput placeholder="Category" #category>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Priority" #priority type="number" value="8">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Title" #title>
  </mat-form-field>
  <div fxLayout="row" fxLayoutAlign="end center">
    <button mat-raised-button type="submit" (click)="open(category.value, priority.value, title.value)" color="primary"
            disabled="{{isInProcess || !category.value || !title.value}}">
      <span>Open</span>
    </button>
  </div>
</div>
