<mat-accordion>
  <mat-expansion-panel *ngFor="let session of sessions | keyvalue">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <div class="title">{{session.key | name}}</div>
      </mat-panel-title>
      <mat-panel-description>
        <div class="description">{{session.value[session.value.length -1].content}}</div>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div class="sessions" #sessionsView>
      <div *ngFor="let message of session.value; let first = first" fxLayout="column" class="{{message.side}}">
        <ng-container *ngIf="senderTypes.includes(message.senderType ? message.senderType : '')"
                      [ngSwitch]="message.side">
          <div fxLayout="row" *ngSwitchCase="'left'" fxLayoutAlign="start center">
            <button mat-mini-fab disabled *ngIf="!message.tags.includes('routing')">
              <mat-icon>smart_toy</mat-icon>
            </button>
            <button mat-mini-fab *ngIf="message.tags.includes('routing')" color="accent">
              <mat-icon>person</mat-icon>
            </button>
            <span class="content">{{message.content}}</span>
          </div>
          <div fxLayout="row" *ngSwitchCase="'right'" fxLayoutAlign="end center">
            <span class="content">{{message.content}}</span>
            <button mat-mini-fab><mat-icon>support_agent</mat-icon></button>
          </div>
          <span class="time">{{message.time | date: 'MMM d, h:mm a'}}</span>
        </ng-container>
      </div>
    </div>

  </mat-expansion-panel>
</mat-accordion>
