<div fxLayout="row wrap" fxLayoutGap="10px">
  <mat-form-field appearance="fill" class="controls">
    <mat-label>Sender type</mat-label>
    <mat-select [(value)]="senderTypes" multiple>
      <mat-option *ngFor="let senderType of ['Member', 'Coach', 'System']" [value]="senderType">{{senderType}}</mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-mini-fab (click)="init(true)" class="controls"><mat-icon>refresh</mat-icon></button>
  <div class="sessions" #sessionsView>
    <div *ngFor="let session of sessions" class="session" #messages>
      <div *ngFor="let message of session; let first = first" fxLayout="column" class="{{message.side}}">
        <mat-chip-list *ngIf="first"><mat-chip>{{message.member | name}}</mat-chip></mat-chip-list>
        <ng-container *ngIf="senderTypes.includes(message.senderType ? message.senderType : '')"
                      [ngSwitch]="message.side">
          <div fxLayout="row" *ngSwitchCase="'left'" fxLayoutAlign="start center">
            <button mat-mini-fab disabled *ngIf="!message.tags.includes('routing')">
              <mat-icon>smart_toy</mat-icon>
            </button>
            <button mat-mini-fab *ngIf="message.tags.includes('routing')" color="accent">
              <mat-icon>person</mat-icon>
            </button>
            <span class="content">{{message.content}}</span>
          </div>
          <div fxLayout="row" *ngSwitchCase="'right'" fxLayoutAlign="end center">
            <span class="content">{{message.content}}</span>
            <button mat-mini-fab><mat-icon>support_agent</mat-icon></button>
          </div>
          <span class="time">{{message.time | date: 'MMM d, h:mm a'}}</span>
        </ng-container>
      </div>
    </div>
  </div>
</div>
