:host ::ng-deep .sidenav-content > router-outlet + * {
  width: 100%;
}

.header {
  height: 60px;
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100% !important;
}

.sidenav-content {
  display: flex;
  padding: 82px 24px 0 16px;
  background-color: white;
}

.sidenav {
  min-width: 250px;
  max-width: 250px;
  position: fixed;
  padding-top: 82px;
}

.user-name {
  font-size: smaller;
}
