<div class="header">
  <mat-toolbar class="mat-elevation-z4">
    <button mat-icon-button (click)="drawer.toggle()">
      <mat-icon aria-label="menu">menu</mat-icon>
    </button>
    <span>Care Intent</span>
    <span class="fill-remaining-space"></span>
    <span class="user-name">{{user | name}}</span>
    <button mat-icon-button (click)="signOut()">
      <mat-icon aria-label="sign out">power_settings_new</mat-icon>
    </button>
  </mat-toolbar>
  <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
</div>
<mat-sidenav-container class="container" autosize [ngStyle]="{'min-height': 'calc(100vh - 64px)'}">
  <mat-sidenav #drawer class="sidenav" mode="side" opened="true" role="navigation">
    <app-groups *ngIf="user && user.id" [userId]="user.id.value"></app-groups>
  </mat-sidenav>
  <mat-sidenav-content class="sidenav-content"
                       [ngStyle]="{'min-height': 'calc(100vh - 110px)'}">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
