<mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
<button mat-mini-fab (click)="drawer.toggle()" class="menu">
  <mat-icon aria-label="menu">menu</mat-icon>
</button>
<mat-sidenav-container>
  <mat-sidenav #drawer class="sidenav" mode="side" opened="true" role="navigation">
    <div fxLayout="column">
      <span class="logo">Care Intent</span>
      <app-groups *ngIf="user && user.id" [userId]="user.id.value"></app-groups>
      <div fxLayout="row" fxLayoutGap="8px" *ngIf="user && user.id && user.id.value" class="footer-nav">
        <button mat-icon-button (click)="signOut()">
          <mat-icon aria-label="sign out">power_settings_new</mat-icon>
        </button>
        <a mat-flat-button [routerLink]="['/admin', user.id.value]">
          <span>{{user | name}}</span>
        </a>
      </div>
    </div>
  </mat-sidenav>
  <mat-sidenav-content class="sidenav-content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
