table {
  width: 100%;
}

.mat-column-name {
  width: 200px;
  padding: 8px;
}

.mat-column-summary {
  padding: 8px;
}

.mat-column-details {
  padding: 8px;
}

.mat-chip {
  font-size: smaller;
  font-weight: normal;
}

h1 {
  padding-top: 5px;
}
