.header {
  margin-left: 60px;
}

.mat-chip {
  font-size: smaller;
  font-weight: normal;
}

.tags-list {
  width: 100%;
}

h1 {
  padding-top: 5px;
}

.coach {
  font-size: larger;
  font-weight: normal;
  padding: 8px;
}
