<div fxLayout="row" fxLayoutGap="12px">
  <h1 *ngIf="person">{{person | name}}</h1>
  <button mat-icon-button (click)="edit()"><mat-icon>edit</mat-icon></button>
</div>
<mat-tab-group>
  <mat-tab label="Overview">
    <div class="chart-container">
      <div class="inner">
        <ng-container *ngFor="let pair of times; first as isFirst">
          <app-overlay-chart *ngIf="isFirst" [personId]="personId" [start]="pair[0]" [end]="pair[1]" [legend]="true">
          </app-overlay-chart>
          <app-overlay-chart *ngIf="!isFirst" [personId]="personId" [start]="pair[0]" [end]="pair[1]" [height]="300">
          </app-overlay-chart>
        </ng-container>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Hypertension">
    <app-biomarkers [personId]="personId"></app-biomarkers>
  </mat-tab>
  <mat-tab label="Chat">
    <app-person-chat [person]="person"></app-person-chat>
  </mat-tab>
</mat-tab-group>
