<div fxLayout="row" fxLayoutGap="12px">
  <h1 *ngIf="person">{{person | name}}</h1>
  <button mat-icon-button (click)="edit()" color="primary"><mat-icon>edit</mat-icon></button>
  <button mat-icon-button (click)="openTicket()" color="accent"><mat-icon>add_task</mat-icon></button>
  <span class="fill-remaining-space"></span>
  <span>
    <a mat-flat-button *ngFor="let coach of coaches" [routerLink]="['/admin', coach.id.value]">
      <mat-icon>support_agent</mat-icon>
      <span class="coach">{{coach | name}}</span>
    </a>
  </span>
</div>

<mat-tab-group (selectedTabChange)="chat.scrollToBottom()">
  <mat-tab label="Tickets">
    <app-tickets [personId]="personId"></app-tickets>
  </mat-tab>

  <mat-tab label="Conversation">
    <app-chat [person]="person" #chat></app-chat>
  </mat-tab>

  <mat-tab label="Survey">
    <app-survey [personId]="personId"></app-survey>
  </mat-tab>

  <mat-tab label="Notes">
    <app-notes [personId]="personId"></app-notes>
  </mat-tab>

  <mat-tab label="Settings">
    <mat-form-field class="tags-list" appearance="fill" *ngIf="person">
      <mat-label>Tags</mat-label>
      <mat-chip-list #chipList>
        <mat-chip *ngFor="let tag of person.tags" [selectable]="true"
                  [removable]="true" (removed)="removeTag(tag)">
          {{tag}}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
        <input placeholder="New tag..."
               [matChipInputFor]="chipList"
               [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
               [matChipInputAddOnBlur]="true"
               (matChipInputTokenEnd)="addTag($event)">
      </mat-chip-list>
    </mat-form-field>
  </mat-tab>
</mat-tab-group>
