<div fxLayout="row" fxLayoutGap="12px" class="header" *ngIf="person">
  <button mat-mini-fab disabled><mat-icon>person</mat-icon></button>
  <h1>{{person | name}}</h1>
  <button mat-icon-button (click)="edit()" color="primary" matTooltip="Edit"><mat-icon>edit</mat-icon></button>
  <button mat-icon-button (click)="sendMessage()" color="primary" matTooltip="Send Message"><mat-icon>message</mat-icon></button>
  <button mat-icon-button (click)="openTicket()" color="accent" matTooltip="New ticket"><mat-icon>add_task</mat-icon></button>
  <button mat-icon-button (click)="addNote()" color="accent" matTooltip="Add note"><mat-icon>note_add</mat-icon></button>
  <span class="fill-remaining-space"></span>
  <span>
    <a mat-flat-button *ngFor="let coach of coaches" [routerLink]="['/admin', coach.id.value]">
      <mat-icon>support_agent</mat-icon>
      <span class="coach">{{coach | name}}</span>
    </a>
  </span>
</div>

<mat-tab-group (selectedTabChange)="chat.scrollToBottom()">
  <mat-tab label="Tickets">
    <app-tickets [personId]="personId"></app-tickets>
  </mat-tab>

  <mat-tab label="Conversation">
    <div class="scroll-container">
    <app-chat [person]="person" #chat></app-chat>
    </div>
  </mat-tab>

  <mat-tab label="Survey">
    <app-survey [personId]="personId"></app-survey>
  </mat-tab>

  <mat-tab label="Notes">
    <app-notes [personId]="personId"></app-notes>
  </mat-tab>

  <mat-tab label="Biometrics">
    <app-biometrics [personId]="personId"></app-biometrics>
  </mat-tab>

  <mat-tab label="Settings">
    <mat-form-field class="tags-list" appearance="fill" *ngIf="person">
      <mat-label>Tags</mat-label>
      <mat-chip-list #chipList>
        <mat-chip *ngFor="let tag of person.tags" [selectable]="true"
                  [removable]="true" (removed)="removeTag(tag)">
          {{tag}}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
        <input placeholder="New tag..."
               [matChipInputFor]="chipList"
               [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
               [matChipInputAddOnBlur]="true"
               (matChipInputTokenEnd)="addTag($event)">
      </mat-chip-list>
    </mat-form-field>
    <div fxLayout="row" *ngIf="person" fxLayoutGap="32px" style="padding-bottom: 8px;">
      <div>
        <div fxLayout="row" fxLayoutGap="12px">
          <mat-form-field appearance="fill">
            <mat-label>Add a conversation</mat-label>
            <mat-select #conversations
                        (selectionChange)="addConversation(conversations.value); conversations.options.first.select()" >
              <mat-option>None</mat-option>
              <mat-option value="assessment">Assessment</mat-option>
              <mat-option value="barriers">Barrier Id</mat-option>
              <mat-option value="chitchat">Chitchat</mat-option>
              <mat-option value="diary">Diary</mat-option>
              <mat-option value="education">Education</mat-option>
              <mat-option value="followup">Follow Up</mat-option>
            </mat-select>
          </mat-form-field>
          <div fxLayout="row" fxLayoutAlign="center center">
            <button mat-stroked-button (click)="saveConversations()"><mat-icon>save</mat-icon> Save</button>
          </div>
        </div>
        <mat-accordion>
        <mat-expansion-panel *ngFor="let conv of person.conversations; let i = index" hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>{{conv.type}}</mat-panel-title>
            <mat-panel-description>
              <button mat-icon-button *ngIf="person.conversations" color="primary" matTooltip="Move up"
                      (click)="person.conversations.splice(i - 1, 0, person.conversations.splice(i, 1)[0]);"
                      [disabled]="i === 0">
                <mat-icon>arrow_upward</mat-icon>
              </button>
              <button mat-icon-button *ngIf="person.conversations" color="primary" matTooltip="Delete"
                      (click)="person.conversations.splice(i)" >
                <mat-icon>delete</mat-icon>
              </button>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div>
            <div *ngIf="['followup'].includes(conv.type)" fxLayout="row" fxLayoutGap="12px">
              <mat-form-field style="width: 100px">
                <input matInput placeholder="Schedule" [(ngModel)]="conv.schedule" [ngModelOptions]="{standalone: true}">
              </mat-form-field>
              <mat-form-field style="width: 100px">
                <input matInput placeholder="Check" [(ngModel)]="conv.check" [ngModelOptions]="{standalone: true}">
              </mat-form-field>
            </div>
            <div *ngIf="conv.type === 'followup' && conv.check !== 'tasks' && conv.schedule">
              <mat-form-field>
                <input matInput placeholder="Message IDs" [(ngModel)]="conv.message_id" [ngModelOptions]="{standalone: true}">
              </mat-form-field>
            </div>
          </div>
        </mat-expansion-panel>
        </mat-accordion>
      </div>
      <div>
        <div fxLayout="row" fxLayoutGap="12px">
          <mat-form-field appearance="fill">
            <mat-label>Add a task</mat-label>
            <mat-select (selectionChange)="addTask(tasks.value); tasks.options.first.select()" #tasks>
              <mat-option>None</mat-option>
              <mat-option value="medication">Medication</mat-option>
            </mat-select>
          </mat-form-field>
          <div fxLayout="row" fxLayoutAlign="center center">
            <button mat-stroked-button (click)="saveTasks()"><mat-icon>save</mat-icon> Save</button>
          </div>
        </div>
        <mat-accordion>
        <mat-expansion-panel *ngFor="let task of person.tasks; let i = index" hideToggle>
          <mat-expansion-panel-header fxLayout="row" fxLayoutGap="12px">
            <mat-panel-title>{{task.data}}</mat-panel-title>
            <mat-panel-description>
              <button mat-icon-button *ngIf="person.tasks" color="primary" matTooltip="Move up"
                      (click)="person.tasks.splice(i - 1, 0, person.tasks.splice(i, 1)[0]);" [disabled]="i === 0">
                <mat-icon>arrow_upward</mat-icon>
              </button>
              <button mat-icon-button color="primary" matTooltip="Delete" *ngIf="person.tasks"
                      (click)="person.tasks.splice(i)">
                <mat-icon>delete</mat-icon>
              </button>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div>
            <mat-form-field *ngIf="['medication'].includes(task.data)" style="width: 100px">
              <input matInput placeholder="Schedule" [(ngModel)]="task.schedule" [ngModelOptions]="{standalone: true}">
            </mat-form-field>
          </div>
        </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
