<div fxLayout="row" fxLayoutAlign="start center">
  <mat-form-field appearance="fill">
    <mat-label>Title</mat-label>
    <input matInput placeholder="Ex. Morning medication" #title>
  </mat-form-field>
  <button mat-icon-button [disabled]="!title.value" (click)="create({name: title.value, timings: []}); title.value = ''">
    <mat-icon>add</mat-icon>&nbsp;Schedule
  </button>
</div>
<mat-accordion>
  <ng-container *ngFor="let schedule of schedules">
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-icon>schedule</mat-icon>
        <span>{{schedule.name}}</span>
      </mat-expansion-panel-header>

      <div fxLayout="column">
        <div fxLayout="row" fxLayoutGap="10px">
          <mat-select #dayList>
            <mat-option *ngFor="let day of DAYS" [value]="day">
              {{day}}
            </mat-option>
          </mat-select>

          <mat-form-field appearance="fill">
            <mat-label>Time</mat-label>
            <input matInput placeholder="Ex. 21:00" #timeInput>
          </mat-form-field>

          <button mat-button [disabled]="!dayList.value || !timeInput.value"
                  (click)="addTiming(schedule, dayList.value, timeInput.value); timeInput.value = '';">
            <mat-icon>add</mat-icon>&nbsp;Time
          </button>
        </div>

        <mat-nav-list>
          <ng-container *ngFor="let timing of schedule.timings">
          <a mat-list-item>
            <span>{{timing.day}}</span>
            <span>{{timing.time}}</span>
          </a>
          </ng-container>
        </mat-nav-list>
      </div>

    </mat-expansion-panel>
  </ng-container>
</mat-accordion>
